---
layout: default
pagination:
    data: editorial.editorial
    size: 1
    alias: producto
permalink: "catalogo/{{ producto.titulo | slug }}/"
---
<section class="flex items-center justify-center max-w-screen-lg py-10 mx-auto">
  <a href="/catalogo">
    <img class="w-56 py-10" src="/static/images/stubs/editorial-vampira.png" alt="">
  </a>
</section>

<!-- Card -->
<section class="flex flex-col items-center justify-center max-w-screen-lg py-12 pt-0 mx-auto sm:flex-row gap-14">
  <!-- Imagen -->
  <img class="hidden max-w-xs sm:block" src="{{ producto.imagen }}" alt="">
  <!-- Descripcion -->
  <div class="flex flex-col justify-between gap-4 my-4">
    <!-- Top -->
    <div class="flex flex-col gap-4">
      <!-- Header -->
      <div class="border-b-2 border-blue-900">
        <!-- Titulo -->
        <h1 class="text-3xl uppercase sm:text-5xl">{{ producto.titulo }}</h1>
        <!-- Autor -->
        <h3 class="text-2xl text-blue-800 uppercase sm:text-3xl">
          {{ producto.autor }}{% if producto.instagram != ""%} - @{{ producto.instagram }}{% endif %}
        </h3>
      </div>
      <!-- ONLY MOBILE: Image -->
      <img class="pr-20 my-4 sm:hidden" src="{{ producto.imagen }}" alt="">
      <!-- Descripcion -->
      <p class="text-base">{{ producto.descripcion }}</p>
      <!-- Precio -->
      <h1 class="text-4xl text-blue-800 uppercase">${{ producto.precio }}</h1>
    </div>
    <!-- Bottom -->
    <div class="flex items-start justify-between">
      <div class="flex flex-col">
        <!-- Comprar -->
        <a class="flex items-center justify-center p-2 text-lg uppercase border-2 sm:text-3xl" href="{{ producto.url }}">
          <svg class="w-6 h-6 mr-2">
            <use xlink:href="/static/sprites/solid.svg#shopping-cart"></use>
          </svg>
          Comprar
        </a>
      </div>
      <!-- Compartir -->
      <div class="flex flex-col gap-2">
        <p class="text-base text-right border-b-2 border-blue-900">Compartir</p>
        <div class="flex gap-2">
          <a href="#">
            <svg class="w-5 h-5">
              <use xlink:href="/static/sprites/brands.svg#instagram"></use>
            </svg>
          </a>
          <a href="#">
            <svg class="w-5 h-5">
              <use xlink:href="/static/sprites/brands.svg#spotify"></use>
            </svg>
          </a>
          <a href="#">
            <svg class="w-5 h-5">
              <use xlink:href="/static/sprites/brands.svg#twitter"></use>
            </svg>
          </a>
          <a href="#">
            <svg class="w-5 h-5">
              <use xlink:href="/static/sprites/brands.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
